body {margin:60px; padding:50px; font-family: 'Fira Sans', sans-serif;}

h1 {align: center; font-family: 'Fira Sans', sans-serif;}

h2 {align: center; font-family: 'Fira Sans', sans-serif;}

row {
  display: flex;
}

column {
  flex: 50%;
}

aside {
    width: 10%;
    padding-right: .5rem;
    margin-right: .5rem;
    float: left;
    color: #000000;
}

aside > p {
    margin: .5rem;
}

p {
    font-family: 'Fira Sans', sans-serif;
}

